{% extends "base.html" %}
{% block title %}
Page Not Found
{% endblock %}
{% block content %}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="text-center custom-heading">Oops! 404 Error</h1>
          <h2 class="text-center custom-heading">Page Not Found</h2>
          <div class="card-text">
            <p>Oh no! The page you are looking for seems to have vanished.</p><br>
            <p>Don't worry, we'll help you find your way back to familiar territory.</p>
            <a href="{% url 'home' %}" class="btn btn-signup right btn-lg">Take Me Home</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}

</body>
</html>


<!-- The code in this file is inspired from:
My own previous projects and knowledge
Code Institute, I think therefore i blog project
Python Django Web Framework (https://www.djangoproject.com/start/overview/)
Youtube Django Tutorial by [Freecode camp](https://www.youtube.com/watch?v=F5mRW0jo-U4)
Youtube series Django Tutorial by [Net Ninja](https://www.youtube.com/watch?v=n-FTlQ7Djqc&list=PL4cUxeGkcC9ib4HsrXEYpQnTOTZE1x0uc&index=1&ab_channel=NetNinja)
Youtube series Python Django Tutorial by [Corey Schafer](https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=1&ab_channel=CoreySchafer)
Yoube Python Django Web Framework by [FreeCodeCamp](https://www.youtube.com/watch?v=F5mRW0jo-U4&ab_channel=freeCodeCamp.org) -->