<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Motorcycle Blog</title>
</head>
<body>

<!-- Link to Fonts, bootstrap and stylesheets-->
{% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">MOTORCYCLE<span class="red-o"></span><span
                  class="thin">|BLOG</span></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</nav>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="text-center custom-heading">Oops! 500 Error</h1>
              <h2 class="text-center custom-heading">Server Error</h2>
              <div class="card-text">
                <p>Sorry! The server encountered an internal error and couldn't handle your request at the moment.</p><br>
                <p>Please try again later</p>
              </div>
              <a href="{% url 'home' %}" class="btn btn-signup right btn-lg">Take Me Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg btn-lg">
    <p class="m-0 text-center text-white">Follow us:
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square ms-3"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square ms-3"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square ms-3"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square ms-3"></i></a>
    </p>
</footer>

<!-- Alert Messages -->
<script>
    setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 2500);
</script>
</body>
</html>


<!-- The code in this file is inspired from:
My own previous projects and knowledge
Code Institute, I think therefore i blog project
Python Django Web Framework (https://www.djangoproject.com/start/overview/)
Youtube Django Tutorial by [Freecode camp](https://www.youtube.com/watch?v=F5mRW0jo-U4)
Youtube series Django Tutorial by [Net Ninja](https://www.youtube.com/watch?v=n-FTlQ7Djqc&list=PL4cUxeGkcC9ib4HsrXEYpQnTOTZE1x0uc&index=1&ab_channel=NetNinja)
Youtube series Python Django Tutorial by [Corey Schafer](https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=1&ab_channel=CoreySchafer)
Yoube Python Django Web Framework by [FreeCodeCamp](https://www.youtube.com/watch?v=F5mRW0jo-U4&ab_channel=freeCodeCamp.org) -->