<!-- Extends the base template -->
{% extends 'base.html' %}
<!-- Main content block -->
{% block content %}

<!-- Container for the form content -->
<div class="container">
  <div class="row justify-content-center">
    <!-- Form column centered on the page -->
    <div class="col-md-8">
      <h1 class="text-center">Add a post</h1>
      <!-- Form for adding a post -->
      <form method="POST" enctype="multipart/form-data">
        <!-- CSRF protection token -->
        {% csrf_token %}
        <!-- Form group for title input -->
        <div class="form-group row">
          <label for="id_title" class="col-sm-3 col-form-label">Title:</label>
          <div class="col-sm-5">
            <!-- Title input field -->
            {{ form.title }}
            <!-- Display errors for title input if any -->
            {% if form.title.errors %}
              <div class="text-danger">
                {{ form.title.errors }}
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Form group for body input -->
        <div class="form-group row">
          <label id="text_input" for="id_body" class="col-sm-3 col-form-label">Text:</label>
          <div class="col-sm-5">
            <!-- Body input field -->
            {{ form.body }}
            <!-- Display errors for body input if any -->
            {% if form.body.errors %}
              <div class="text-danger">
                {{ form.body.errors }}
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Form group for mc brand name input -->
        <div class="form-group row">
          <label for="id_mc_brand_name" class="col-sm-3 col-form-label">MC Brand Name:(optional)</label>
          <div class="col-sm-5">
            <!-- MC Brand Name input field -->
            {{ form.mc_brand_name }}
            <!-- Display errors for mc brand name input if any -->
            {% if form.mc_brand_name.errors %}
              <div class="text-danger">
                {{ form.mc_brand_name.errors }}
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Form group for mc type name input -->
        <div class="form-group row">
          <label for="id_mc_type_name" class="col-sm-3 col-form-label">MC Type Name:(optional)</label>
          <div class="col-sm-5">
            <!-- MC Type Name input field -->
            {{ form.mc_type_name }}
            <!-- Display errors for mc type name input if any -->
            {% if form.mc_type_name.errors %}
              <div class="text-danger">
                {{ form.mc_type_name.errors }}
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Form group for featured image input -->
        <div class="form-group row">
          <label for="id_featured_image" class="col-sm-3 col-form-label">Post Image:(optional)</label>
          <div class="col-sm-5">
            <!-- Featured image input field -->
            <input type="file" style="margin-bottom: 20px;" id="id_featured_image" name="featured_image">
            <!-- Display errors for featured image input if any -->
            {% if form.featured_image.errors %}
              <div class="text-danger">
                {{ form.featured_image.errors }}
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Form group for author image input -->
        <div class="form-group row">
          <label for="id_author_image" class="col-sm-3 col-form-label">Profile Image:(optional)</label>
          <div class="col-sm-5">
            <!-- Author image input field -->
            <input type="file" id="id_author_image" name="author_image">
            <!-- Display errors for author image input if any -->
            {% if form.author_image.errors %}
              <div class="text-danger">
                {{ form.author_image.errors }}
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Form group for submit button -->
        <div class="form-group row">
          <div class="col-sm-5 offset-sm-3">
            <!-- Submit button for the form -->
            <button style="margin-top: 20px;" class="btn btn-signup right btn-lg" type="submit">Post</button>
          </div>
        </div>
      </form>
      <!-- Display non-field errors if any -->
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- End of the content block -->
{% endblock %}

</body>
</html>


<!-- The code in this file is inspired from:
My own previous projects and knowledge
Code Institute, I think therefore i blog project
Python Django Web Framework (https://www.djangoproject.com/start/overview/)
Youtube Django Tutorial by [Freecode camp](https://www.youtube.com/watch?v=F5mRW0jo-U4)
Youtube series Django Tutorial by [Net Ninja](https://www.youtube.com/watch?v=n-FTlQ7Djqc&list=PL4cUxeGkcC9ib4HsrXEYpQnTOTZE1x0uc&index=1&ab_channel=NetNinja)
Youtube series Python Django Tutorial by [Corey Schafer](https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=1&ab_channel=CoreySchafer)
Yoube Python Django Web Framework by [FreeCodeCamp](https://www.youtube.com/watch?v=F5mRW0jo-U4&ab_channel=freeCodeCamp.org) -->