{% extends "base.html" %} 
{% load static %}
{% block content %}

<div class="container">
        <div class="text-block">
        <h2>Motorcycle Adventures</h2>
        <p>Welcome to my motorcycle diary, where every turn of the wheel unfolds a new adventure. 
            Here, I invite you to join me on the open road as I share the stories of my personal bike 
            and the unforgettable journeys it has taken me on. Through vivid imagery and heartfelt narration, 
            I'll take you on a ride through the scenic landscapes, hidden gems, and cherished moments 
            that have defined my two-wheeled escapades.<br><br>
            
            From the gleaming chrome of my trusted steed 
            to the breathtaking vistas that unfold before me, each post is a testament to the bond between 
            rider and machine, and the unbridled freedom that comes with it. So, grab your helmet, saddle up, 
            and let's embark on a thrilling ride through the twists and turns of my motorcycle adventures.</p>
        </div>
    <div class="image-block"></div>
</div>

{% endblock %}