<!-- Extend the base template -->
{% extends 'base.html' %}
<!-- Start of the content block -->
{% block content %}
<!-- Load crispy forms tags for better form rendering -->
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Display the post title -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Display the post author and creation date -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- Display the featured image if it exists, otherwise display a placeholder image -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/dsmcsccvu/image/upload/v1707579541/samples/man-portrait.jpg" width="100%" alt="the placeholder image">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%" alt="the featured image">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Display the post content -->
                <p class="card-text">{{ post.body | safe }}</p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            <!-- Like button for authenticated users -->
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                <!-- Toggle like button based on whether the post is liked -->
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- Display the number of likes -->
                            <span class="text-secondary"> {{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        <!-- Display the number of comments -->
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Horizontal rule for separation -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- Iterate through comments and display each one -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- Display the commenter's name and the comment's creation date -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- Display the body of the comment -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Display edit and delete options for the comment owner -->
                {% if user.is_authenticated and user == comment.user %}
                <div class="comment_actions">
                  <small>
                    <a class="edit" href="{% url 'comment_delete' comment.pk %}">(Delete)</a>
                    <a class="edit" href="{% url 'update_comment' comment.pk %}">(Edit)</a>
                    </small>
                </div>
                {% endif %}
                <!-- End of comments loop -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- Display comment form for authenticated users -->
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- End of the content block -->
{% endblock content %}