{% extends 'base.html' %} 
{% block content %}

<div class="container">
  <h1>Edit your comment</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form.as_p }}
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if commented %}
        {% else %} 
          {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
              {{ comment_form }}
              {% csrf_token %}
              <button class="btn btn-signup right btn-lg" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

{% endif %}
{% endif %}
{% endblock %}


<!-- The code in this file is inspired from:
My own previous projects and knowledge
Code Institute, I think therefore i blog project
Python Django Web Framework (https://www.djangoproject.com/start/overview/)
Youtube Django Tutorial by [Freecode camp](https://www.youtube.com/watch?v=F5mRW0jo-U4)
Youtube series Django Tutorial by [Net Ninja](https://www.youtube.com/watch?v=n-FTlQ7Djqc&list=PL4cUxeGkcC9ib4HsrXEYpQnTOTZE1x0uc&index=1&ab_channel=NetNinja)
Youtube series Python Django Tutorial by [Corey Schafer](https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=1&ab_channel=CoreySchafer)
Yoube Python Django Web Framework by [FreeCodeCamp](https://www.youtube.com/watch?v=F5mRW0jo-U4&ab_channel=freeCodeCamp.org) -->